{% load static %}
{% load college_tags %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/stylesheet.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="menu">
      <img
        class="psu-logo"
        src="{% static 'image/psu (2).png' %}"
        alt="PSU Logo"
      />
      {% block content %}
      <nav>
        <ul class="nav-list">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>
            <a href="{% url 'college' %}">
              <b style="color: #ff5f29"> College</b></a
            >
          </li>
          <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
      </nav>
      {% endblock %}
    </div>

    <div class="box-container">
      <div class="row gy-5 justify-content-center" style="display: flex; flex-wrap: wrap; ">
        {% get_all_college as colleges %}
        {% for college in colleges %}
        
          <a class="college-box" href="{% url 'program' code=college.code %}">
            <div class="box">
              {{ college.code }}
            </div>
          </a>
         
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
          </div>
          <div class="row gy-4 justify-content-center" style="display: flex; flex-wrap: wrap; margin-top: 20px;">
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <script src="{% static 'app.js' %}">
      ;
    </script>
  </body>
</html>
