{% load static %}

<html lang="en">
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/stylesheet.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="menu"> 
        <img class="psu-logo" src="{% static 'image/psu (2).png' %}" alt="PSU Logo">
        {% block content %}
        <nav> 
            <ul class="nav-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'college' %}">College</a></li>
                <li><a href=""><i style="color: #ff5f29">Program</i></a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>
        </nav>
        {% endblock %}
    </div>

    <div class="p-container">
        <div class="c-container">
            <h2>Programs for {{ selected_college }}</h2>
            {% for programs in college_programs %}
            <ul>
                <li>
                    <a href="#" class="program-link" data-program-name="{{ programs.program_name }}">{{ programs.program_name }}</a>
                </li>
            </ul>
            {% endfor %}
        </div>
        
        <div class="y-container">
            <div class="c-name">
                <img id="college-image" src="{% static 'image/psu (2).png' %}" alt="College Logo">
                <a id="college-title">{{ selected_college }}</a>
                <img id="college-image-right" src="{% static 'image/' %}{{ code }} logo.png" alt="College Logo Right">
            </div>

            <div id="program-details">Select a program to view available slot each year levels</div>
        </div>
    </div>

    <script>
        const collegeCode = "{{ code }}";  
    </script>
    <script src="{% static 'program.js' %}" defer></script>
    </body>
</html>
